<div class="container comp-header">
  <div class="row">
    <div class="col-4 logoText">Epic fantasy simulator</div>
    <div class="col-6">Home &nbsp;&nbsp; About</div>
    <div class="col-2">Profile area</div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="row"><app-user-status></app-user-status></div>
        <div class="row">
          <div class="col">
            <h1>Left side menu</h1>
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/quest"
                  >Rat cave</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/items"
                  >Items</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/shop"
                  >Shop</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>
